<div class="page-header">
  <h1>Products&nbsp;&nbsp;<small>Find your HG...</small></h1>
</div>

<div class="product-container" style="border: 0px; padding-bottom: 10px;">
	<div class="row">
		<div class="col-sm-4">
	<%= link_to "Add New", new_product_path, class:"btn btn-default" %>
		</div>
	</div>
</div>

<div class="container-footer-margin">
	<% @products.each do |product| %>
	<div class="product-container">
		<div class="row">
			<div class="col-sm-4">
				<div class="thumbnail">
					<%= image_tag product.image%>
				</div>
			</div>
				<div class="col-sm-8">
				<p><strong><%=product.brand%></strong></p>
					<p><%=product.name%></p>
					<br>
					<br>
					<p>
					<%=link_to "Details", product_path(product), class:"btn btn-default", style:"float: right;"%></p>
				</div>
			</div>
		</div>
	<%end%>
</div>